<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-lg="row"
  fxLayoutAlign="center center"
>
  <section>
    <h1>Activity</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis neque
      sed numquam minus sapiente. Dolorem, magni repellat.
    </p>
  </section>
  <section>
    <h1>Commmunity</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis neque
      sed numquam minus sapiente. Dolorem, magni repellat.
    </p>
  </section>
  <section>
    <h1>Changes</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis neque
      sed numquam minus sapiente. Dolorem, magni repellat.
    </p>
  </section>
</div>
